.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10vw 0 10vw;
}

.login {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.login h4 {
  padding: 10px 20px;
}

.login h4:hover {
  cursor: pointer;
}